@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TG Sari-Sari Store1</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>The TG Sari-Sari Store Inventory System is a streamlined software solution designed to manage the inventory and sales operations of a traditional sari-sari store. Tailored to the unique needs of small community stores, this system ensures efficient tracking of products and stock levels, simplifying daily store management tasks</a>.</p>
</div>
